<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Request Header Parser Microservice</title>
</head>
<body>
<div class="container">
    <h1 class="header">API Basejump: Request Header Parser Microservice</h1>
    <p>By xc  |
        <a href="https://github.com/jzsplk/gltich">Project GitHub</a></p>
    <blockquote>User Stories:
        <ol>
            <li> I can get the IP address, language and operating system for my browser.
            </li>
            
        </ol>
    </blockquote>
    <h2>Example usage:</h2>
    <code>https://jzs-header-parser1.glitch.me/api/whoami</code><br>
    <h2>Example output:</h2>
    <code>{
"ipaddress ": "119.18.63.91",
"language ": "zh-CN",
"software": "OS: macOS Sierra, Browser: Chrome"
}</code><br>
    
</div>
</body>
</html>